<<<<<<< HEAD
#cont{ border:1px solid red;
    width:80%;
    height:100%;
    justify-content: center;
}
#header{display:flex;
    flex-direction: row;
      
        width:100%;
        height:20%;
        justify-content: space-between;
    }
    .box{
        width:8%;
        height:4%;
    
        text-align: center;
        margin:.5%;
        font-size: 110%;
    }
    #font{font-family: 'Potta One', cursive;
    font-size:20px ;
    font-weight:700}

    .box:nth-child(3){
        width:60%;
        }
    .box:nth-child(1), .box:nth-child(2),.box:nth-child(4),.box:nth-child(5){
        margin-top: 2%;
     }
     #tags{
         display:flex;
         flex-direction: row;
         width:70%;
         height:20%;
         
        padding:1%;
        margin:auto;

     }
     .box2{ 
        width:11%;
        height:4%;
    
    
        text-align: center;
        margin-top: 1%;
        font-size: 110%;
    }
    .box2:nth-child(2),.box2:nth-child(3){
        width:20%
    }
     
    #signup_box{padding:1%;
width:100%;
text-align: center;
    }
    #signup_box>h1{font-size:200%;}
    #signup_box>p{font-size:130%;}
    #email{width:20%;
        height:20%;
        font-size: 110%;
    }
    button{
        width:10%;
        height:20%;
        background-color: black;
        color: white;
        font-size: 110%;
    }
    #featured_box{height:30%;
        width:100%;
        padding:2%; 
        display: flex;
    }
    
   
    .box3{
        
        width:100%;
        height:10%;
       
        margin-top: 5%;
        clear:both;
        float: right;
    
    }
    
   

.second{
    width:50%;
    height:30%;
    float:right;
    justify-content: space-between;
}
.first{height:100%;
    clear: both;
float:left;
margin-left:5%;}

@media (max-width: 1024px) {
    #cont {
      width:100%;
    }
  }
  @media (min-width: 600px) {
    #cont {
        width:100%;
      }
  }
  @media (width: 480px) {
    #cont {
        width:100%;
      }
  }
=======
#freshcont,#takingoffcont,#homecont,#nearcont,#explorecont
{
    
    height: 600px;
    
}
#freshcont>p,#takingoffcont>p,#homecont>p,#nearcont>p,#explorecont>p
{
    margin-left: 130px;
    color: rgb(85, 82, 82);
}
#fresh,#takingoff,#home,#near
{
    margin-top: 20px;
    display: flex;
    max-width: 1200px;
    float: left;
    overflow-x: scroll;
    margin-left: 120px;
}
#fresh div,#takingoff>div,#home>div,#near>div
{
    width: 400px;
    margin-left: 20px;
    
}
.clear
{
    clear: both;
}
.line
{
    height: 0.5px;
    background-color: rgb(114, 111, 111);
}
#explore
{
    margin-top: 20px;
    display: flex;
    float: left;
    margin-left: 120px;
}
#explore>div
{
    width: 300px;
    height: 500px;
    margin-left: 20px;
}
#explore>div>img
{
    width: 100%;
    height: 60%;
}
>>>>>>> 22c2daa7f96025f91fd0c85bbe9488ec2a3c348a
